Source: xdms
Section: utils
Priority: optional
Maintainer: John Paul Adrian Glaubitz <glaubitz@physik.fu-berlin.de>
Build-Depends: debhelper-compat (= 12), autotools-dev, dpkg-dev (>= 1.16.1~)
Standards-Version: 3.9.4
Homepage: https://zakalwe.fi/~shd/foss/xdms/
Vcs-Git: https://github.com/glaubitz/xdms-debian.git
Vcs-Browser: https://github.com/glaubitz/xdms-debian

Package: xdms
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: unadf
Suggests: uae
Description: Uncompressor for Amiga DMS archives
 This a tool for decompressing Amiga DMS files. DMS files contain disk
 images that are these days mainly useful for Amiga emulation. It can
 unpack DMS images to ADF images.
